@import "tailwindcss";

#app {
  max-width: 100%;
  margin: 0;
  padding: 1.5rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: #7c3aed;
  /* purple-700 */
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: rgba(124, 58, 237, 0.2);
    /* purple-700 at 20% opacity */
  }
}

@media (min-width: 1024px) {
  body {
    display: block;
  }

  #app {
    display: block;
    padding: 2rem;
  }
}